.main {
  margin: 32px auto 0;
  max-width: 1240px;
  font-family: Roboto;
  font-size: 100%;
  line-height: 1.5;
  position: relative;
}

.column {
  /* 100% height - header height - margin */
  height: calc(100vh - 64px - 32px);
  overflow-y: auto;
}

.formControl {
  width: 100%;
  margin-right: 16px !important;
}

.flexRow {
  margin-bottom: 32px !important;
  display: flex;
  align-items: flex-end;
}

.createButton {
  position: fixed !important;
  bottom: 32px;
  right: 32px;
}

:global pre {
  background-color: rgba(63, 81, 181, 0.15);
  padding: 8px 16px;
  border-left: 4px solid #3f51b5;
  margin: 32px 0;
}

:global p > code,
:global p >kbd,
:global p > samp {
  background: rgba(63, 81, 181, 0.15);
  padding: 2px 4px;
  border-radius: 2px;
}
