.main {
  margin: 32px auto 0;
  max-width: 1240px;
  font-family: Roboto;
  font-size: 100%;
  line-height: 1.5;
}

.leftColumn {
  /* 100% height - header height - margin */
  height: calc(100vh - 64px - 32px);
  overflow-y: auto;
}
